html,
body,
#app {
  width: 100%;
  height: 100%;
}

#canvas {
  #app {
    width: 100%;
    height: 100%;
  }
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

@media (orientation: landscape) {
  $landscape-min-height: 500px;
  #canvas {
    max-width: 230vh;
    min-height: $landscape-min-height;
    min-width: calc(#{$landscape-min-height} * 2.3);
  }
}

@media (orientation: portrait) {
  $portrait-min-height: 250px;
  #canvas {
    max-height: 220vw;
    min-width: $portrait-min-height;
    min-height: calc(#{$portrait-min-height} * 2.2);
  }
}
