#content {
  width: 100%;
  height: 100%;

  background-image: url("~@/assets/img/home/background.webp");

  #center-content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    #footer {
      width: 100%;
      height: 100%;

      background-attachment: scroll;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      background-size: 100% auto;
      background-image: url(~@/assets/img/home/footer.webp);

      position: absolute;
      z-index: 2;
    }

    #main-object-container {
      width: 30%;
      max-width: 430px;
      min-width: 300px;
      min-height: 250px;

      position: absolute;
      z-index: 3;

      #main-title {
        margin-left: 10%;
        margin-right: 10%;

        #title {
          width: 65%;
        }

        #seal {
          margin-top: 40%;
        }
      }

      #main-logo {
        padding-top: 10%;

        #logo {
          width: 100%;
        }
      }
    }

    #btn-threeline {
      width: 8%;
      max-width: 50px;
      position: absolute;
      right: 5vw;
      top: 5vw;
    }
  }

  #decoration-cloud-container {
    width: 100%;
    height: auto;

    position: absolute;
    overflow: hidden;
    z-index: 1;

    @keyframes decoration-cloud-animation {
      from {
        margin-left: -25%;
      }
      to {
        margin-left: 100%;
      }
    }

    #decoration-cloud-1 {
      display: block;
      overflow: hidden;

      width: 25%;
      min-width: 120px;
      max-width: 220px;

      margin-top: 20px;

      animation: decoration-cloud-animation 15s infinite linear alternate;
    }

    #decoration-cloud-2 {
      display: block;

      width: 15%;
      min-width: 80px;
      max-width: 180px;

      margin-top: 20px;

      animation: decoration-cloud-animation 15s infinite linear alternate-reverse;
    }

    #decoration-cloud-3 {
      display: block;

      width: 15%;
      min-width: 120px;
      max-width: 220px;

      margin-top: 20px;

      animation: decoration-cloud-animation 15s infinite linear alternate;
    }

    #decoration-cloud-4 {
      display: block;

      width: 25%;
      min-width: 80px;
      max-width: 180px;

      margin-top: 20px;

      animation: decoration-cloud-animation 15s infinite linear alternate-reverse;
    }
  }
}
