.introduce-main{
  .img-one{
    float: right;
    // height: 150px;
    width: 200px;
    margin-left: 20px;
  }
  .img-two{
    float: left;
    // height: 150px;
    width: 200px;
    margin-right: 20px;
  }
  p{
    text-indent: 2em;
    // height: 25px;
    line-height: 40px;
    font-size: 16px;
  }
}