.kind{
  .el-card{
    margin-bottom: 50px;
  }
  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .image {
    width: 100%;
    display: block;
    height: 250px;
  }

  .kind-introduce{
    padding: 14px;
  }
}