html,
body,
#app{
  height: 100%;
}

.navbar {
  height: 99.9%;
  background-color: rgb(236, 234, 223);
  //background-image: url('~@/assets/img/navbar/background.png');
  position: relative;
  //text-align: center;
  
  .card{
    background-image: url('~@/assets/img/navbar/card.png');
    background-size: 100% 100%;
    //display: inline-block;
    // width: 80%;
    // height: 80%;
    //position: absolute;
    // top: 10%;
    // left: 10%;
    z-index: 1000;
    padding: 6rem 14.4rem;
    margin-top: 7%;
    ul{
      li{
        // margin-left: 200px;
        // margin-top: 14px;
        // position: absolute;
        padding-bottom: 10px;
        margin-bottom: 2px;
        cursor: pointer;
        &:hover{
          border-bottom: 2px solid black;
        }
        span{
          color: rgb(67, 67, 67);
          font-weight: 100;
        }
        span:first-child{
          font-size: 3rem;
        }
        span:last-child{
          font-size: 2.1rem;
        }
      }
    }
  }

  .cloud1{
    position: absolute;
    left: 60px;
    top: 200px;
    animation: float-l 20s linear infinite;
  }
  .cloud2{
    position: absolute;
    right: 40px;
    top: 280px;
    animation: float-r 20s linear infinite;
  }
  .cloud3{
    position: absolute;
    left: 60px;
    bottom: 280px;
    animation: float-l 20s linear infinite;
  }
  .cloud4{
    position: absolute;
    right: 50px;
    bottom: 200px;
    animation: float-r 20s linear infinite;
  }

  @keyframes float-l {
    0%{
      left: 10px;
      // right: none;
    }
    50%{
      left: 1590px;
      // left: none;
      // right: 10px;
    }
    100%{
      left: 10px;
      // right: none;
    }
  }
  @keyframes float-r {
    0%{
      right: 10px;
    }
    50%{
      right: 1640px;
    }
    100%{
      right: 10px;
    }
  }
  .btn-close{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 100px;
    top: 50px;
  }
}