.register{
  .el-row{
    margin-top: 60px;
  }
  label{
    line-height: 35px;
  }
  .to-register{
    text-align:center;
    a{
      color:#333;
      text-decoration: none;
      cursor: pointer;
      &:hover{
        text-decoration: underline
      }
    }
  }
}