.wheel{
  .wheel-box{
    position: relative;
    .material-scroll {
      //滚动div
      // display: flex;
      height: 70vh;
      // justify-content: center;
      // align-items: center;
      float: left;
      width: 25%;
      //overflow-y: auto;
      // background: #ddd;
      // overflow: hidden;
      position: absolute;
      top: 200px;
    }
    
    .material-left {
      width: 80%;
      max-height: 70vh;
      //  overflow-y: auto;
      //  display:flex;
      //  justify-content: center;
      //  align-items: center;
    
      //  float: left;
      //  max-height: 300px;
      .material-box {
        margin-bottom: 5px;
        text-align: center;
    
        .first{
          height: 30px;
          border: 2px solid #bbb;
        }
    
        .second{
          height: 50px;
          border: 2px solid #888;
        }
    
        .thrid{
          height: 75px;
          border: 2px solid #222;
        }
    
        .fourth{
          height: 50px;
          border: 2px solid #888;
        }
    
        .fifth{
          height: 30px;
          border: 2px solid #bbb;
        }
        > div {
          cursor: pointer;
          // display: flex;
          // justify-content: center;
          // align-items: center;
          height: 70px;
          width: 95%;
          // border: 1px solid #ddd;
          //background: #fff;
          // overflow: hidden;
          
          >div{
            padding: 10px;
            // margin-bottom: 50px;
          }
        }
      }
    
    }
    .material-right {
      height: 70vh;
      text-align: center;
      margin-left: 26%;
      position: relative;
      margin-right: 10px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    
      > div {
        height: 66vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .arrow-left {
        position: absolute;
        top: -0%;
        left: 2%;
        cursor: pointer;
        // background: #dcdfe6;
        width: 95%;
        height: 6vh;
        font-size: 50px;
        font-weight: bold;
      }
      .arrow-right {
        position: absolute;
        bottom: 5%;
        left: 2%;
        cursor: pointer;
        // background: #dcdfe6;
        width: 95%;
        height: 6vh;
        font-size: 50px;
        font-weight: bold;
      }
      .arrow-left:hover {
        background: #dcdfe6;
        opacity: 0.5;
        color: #fff;
      }
      .arrow-right:hover {
        background: #dcdfe6;
        opacity: 0.5;
        color: #fff;
      }
    }
  }
}